/*
*
Variables
*
*/

:root {
    --color-blue: #2e94fa;
}


body {
    background-color: white;
}

/*
*
Header
*
*/

.header { 
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header__image {
    width: 100px;
}

.header__link {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.header__link--blue {
    background-color: var(--color-blue);
    color: #ffffff;
}

.header__link--grey {
    background-color: #f4f4f4;
    color: var(--color-blue);
}

@media screen and (max-width: 800px) {
    .header__link--blue {
        display: none;
    }
}

/*
*
Flux
*
*/

.flux {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*
*
Cover
*
*/

.cover {
    background-color: #86e8b5;
    padding-bottom: 30px;
    padding-top: 120px;
    position: relative;
}

.cover__flux {
    display: flex;
    position: relative;
    z-index: 1;
}

.cover__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

/* 800px = tablette portrait */
@media screen and (max-width: 800px) {

    .cover__flux {
        flex-direction: column;
    }
}

/* 450px = mobile */
@media screen and (max-width: 450px) {
    
    .cover {
        background-color: white;
    }

    .cover__video {
        display: none;
    }

    .cover__container-images {
        display: none;
    }
}